
<section class="in-banner">
   <div class="inheading">
      <h2> Tenders</h2>
      <div class='breed-crum-div'>
         <ol class='breadcrumb'>
            <li><a routerLink="home">Home</a></li>
            <li> / </li>
            <li><a >Notices</a></li>
            <li> / </li>
            <li class='active'><a >Tenders</a></li>
         </ol>
      </div>
   </div>
   <ul>
        <li class='item'><img src='../../../assets/images/PG_201901211325185867.jpg' alt='About Khurja ' title='About Khurja ' /></li>
   </ul>
</section>

<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="row" style="overflow-x: scroll; margin: 2em 0em ;">
               <h3 class="diff-heading">Tenders</h3>
               
                <table class="table-bordered table-hover table-striped table">
                    <thead>
                       <tr style="background-color: #fcb202">
                          <th>Sr.No</th>
                          <th>Document Type</th>
                          <th>Document Description</th>
                          <th>Upload Date</th>
                          <th>Documents Download</th>
                       </tr>
                    </thead>
                    <tbody id="contacts">
                       <tr class="warning">
                          <td>1</td>
                          <td>Tender</td>
                          <td>E-Tender Notice <img src="../../../assets/images/new-96.png" width="50px" height="30px"></td>
                          <td>15-06-2022</td>
                          <td><a href="/images/Tander/tender1.pdf" target="_blank">E_Tender_Notice_BKDA_1_15Jun2022.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                       <tr class="warning">
                          <td>2</td>
                          <td>Tender</td>
                          <td>E-Tender Notice <img src="../../../assets/images/new-96.png" width="50px" height="30px"></td>
                          <td>15-06-2022</td>
                          <td><a href="/images/Tander/Tender2.pdf" target="_blank">E_Tender_Notice_BKDA_2_15Jun2022.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                       <tr class="warning">
                          <td>3</td>
                          <td>Tender</td>
                          <td>Tender Notice <img src="../../../assets/images/new-96.png" width="50px" height="30px"></td>
                          <td>26-05-2022</td>
                          <td><a href="/images/Tander/tender3.pdf" target="_blank">Tender_Notice_26_05_2022.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                    </tbody>
                 </table>
             </div>
         </div>
      </div>
   </div>
</section>





 <!-- slider OPEN -->
 <section class="bgwhite implink">
    <div class="container">
       
       <div class="brand-items text-center">
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link1.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link2.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link3.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link4.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link5.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/iconTwo/PMS.png" style="padding:5px;" /></a></div>
       </div>
    </div>
 </section>
 <!-- slider CLOSE -->
