 <!-- Footer OPEN -->
 <footer>
    <div class="footer-top" *ngIf="dataview">
       <div class="container">
          <div class="col-md-4 col-sm-4 col-xs-4 notice">
             <h3 class="footer-head">About</h3>
             <ul id="top-lits" class="footer-top-lits">
                <li class=""><a class="" routerLink="/about-kda">About KDA</a></li>
                <li class=""><a class="" routerLink="/about-act">Acts</a></li>
                <li class=""><a class="" routerLink="/about-rule">Rules</a></li>
                <li class=""><a class="" routerLink="/bye-lows">Bye Laws</a></li>
                <li class=""><a class="" routerLink="/privacypolicy">privacy_policy.html</a></li>
                <li class=""><a class="" routerLink="/refund&policy">Refund Policy</a></li>
                <li class=""><a class="" routerLink="/term&condi">Terms & Conditions</a></li>
             </ul>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 notice">
             <h3 class="footer-head">Notices</h3>
             <ul id="top-lits" class="footer-top-lits">
                <li class=""><a class="" routerLink="/PublicNotice">Public Notices</a></li>
                <li class=""><a class="" routerLink="/Tender">Tenders</a></li>
                <li class=""><a class="" routerLink="/Auction">Auction</a></li>
                <li class=""><a class="" routerLink="/Eio">EOI </a></li>
                <li class=""><a class="" routerLink="/CancelTander">Cancelled Tender / Corrigendum</a></li>
             </ul>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 quicklink">
             <h3 class="footer-head">RTI</h3>
             <ul id="top-lits" class="footer-top-lits">
                <li class=""><a class="" routerLink="/RtiActs">RTI Acts</a></li>
                <li class=""><a class="" routerLink="/RtiManuals">RTI Manuals</a></li>
                <li class=""><a class="" routerLink="/CitizenChart">Citizen Charter </a></li>
                <li class=""><a class="" routerLink="/EmpList">Employee List</a></li>
                <li class=""><a class="" routerLink="/PoiApio">PIO/APIO List</a></li>
             </ul>
          </div>
           
       </div>
    </div>
    <div class="footer-bottom">
       <div class="container">
          <div class="row">
             <div class="col-md-9">
                <p><b>Disclaimer -</b> This web-site contains information and material compiled for reference only. Information on this web site is provided solely for the user's information and, while due care has been taken to make it accurate, it is provided without guarantee/ warranty of any kind, either expressed or implied.Errors and omissions are excepted (E.&O.E;). Users are advised to verify/check any information with the KDA, Khurja office to obtain any confirmation before acting on the information provided.</p>
             </div>
          </div>
       </div>
    </div>
 </footer>