
<section class="in-banner">
   <div class="inheading">
      <h2>About Khurja</h2>
      <div class='breed-crum-div'>
         <ol class='breadcrumb'>
            <li><a href='index.html'>Home</a></li>
            <li> / </li>
            <li><a href='about-kda.html'>About Us</a></li>
            <li> / </li>
            <li class='active'><a href='acts.html'>Act</a></li>
         </ol>
      </div>
   </div>
   <ul>
      <li class='item'><img src='../../../assets/images/PG_201901211325185867.jpg' alt='About Khurja ' title='About Khurja ' /></li>
   </ul>
</section>

<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="row" style="overflow-x: scroll; margin: 2em 0em ;">
                <h3 class="diff-heading">Rules</h3>
                <table class="table-bordered table-hover table-striped table">
                  <thead>
                     <tr style="background-color: #fcb202">
                        <th>Sr.No</th>
                        <th>Document Type</th>
                        <th>Document Description</th>
                        <th>Upload Date</th>
                        <th>Documents Download</th>
                     </tr>
                  </thead>
                  <tbody id="contacts">
                     <tr class="warning">
                        <td>1</td>
                        <td>Rules</td>
                        <td>Development Fee Rules 2014</td>
                        <td>17-01-2019</td>
                        <td><a href="admin/pdf attachment/rules/DevelopmentFeeRules2014.pdf" target="_blank">DevelopmentFeeRules2014.pdf</a></td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>2</td>
                        <td>Rules</td>
                        <td>City Development Charge Rule 2014</td>
                        <td>17-01-2019</td>
                        <td><a href="admin/pdf attachment/rules/CityDevelopmentChargeRule2014.pdf" target="_blank">CityDevelopmentChargeRule2014.pdf</a></td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>3</td>
                        <td>Rules</td>
                        <td>Land Use Conversion Charges Rule 2014</td>
                        <td>17-01-2019</td>
                        <td><a href="admin/pdf attachment/rules/LUConversionChargesRule2014.pdf" target="_blank">LUConversionChargesRule2014.pdf</a></td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>4</td>
                        <td>Rules</td>
                        <td>Vikas Shulk Niyamawali</td>
                        <td>17-01-2019</td>
                        <td><a href="admin/pdf attachment/rules/VikasShulkNiyamwali.pdf" target="_blank">VikasShulkNiyamwali.pdf</a></td>
                     </tr>
                     <tr>
                     </tr>
                  </tbody>
               </table>
             </div>
         </div>
      </div>
   </div>
</section>


<!-- slider OPEN -->
   <section class="bgwhite implink">
      <div class="container">
         
         <div class="brand-items text-center">
            <div class="brand-item">
               <a rel="noopener" title="">
                  <img src="../../../assets/images/auto-slider/imp-link1.png" />
               </a>
            </div>
            <div class="brand-item">
               <a rel="noopener" title="">
                  <img src="../../../assets/images/auto-slider/imp-link2.png" />
               </a>
            </div>
            <div class="brand-item">
               <a rel="noopener" title="">
                  <img src="../../../assets/images/auto-slider/imp-link3.png" />
               </a>
            </div>
            <div class="brand-item">
               <a rel="noopener" title="">
                  <img src="../../../assets/images/auto-slider/imp-link4.png" />
               </a>
            </div>
            <div class="brand-item">
               <a rel="noopener" title="">
                  <img src="../../../assets/images/auto-slider/imp-link5.png" />
               </a>
            </div>
            <div class="brand-item">
               <a rel="noopener" title="">
                  <img src="../../../assets/images/iconTwo/PMS.png" style="padding:5px;" /></a></div>
         </div>
      </div>
   </section>
<!-- slider CLOSE -->
