

<section class="in-banner">
   <div class="inheading">
      <h2> AUCTIONS</h2>
      <div class='breed-crum-div'>
         <ol class='breadcrumb'>
            <li><a >Home</a></li>
            <li> / </li>
            <li><a >Notices</a></li>
            <li> / </li>
            <li class='active'><a >Auctions</a></li>
         </ol>
      </div>
   </div>
   <ul>
      <li class='item'><img src='../../../assets/images/PG_201901211325185867.jpg' alt='About Khurja ' title='About Khurja'/></li>
   </ul>
</section>

<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="row" style="overflow-x: scroll; margin: 2em 0em ;">
               <h3 class="diff-heading">AUCTIONS</h3>
                <!-- Single Latest Sermons -->
                <table class="table-bordered table-hover table-striped table">
                  <thead>
                     <tr style="background-color: #fcb202">
                        <th>Sr.No</th>
                        <th>Document Type</th>
                        <th>Document Description</th>
                        <th>Upload Date</th>
                        <th>Documents Download</th>
                     </tr>
                  </thead>
                  <tbody id="contacts">
                     <tr class="warning">
                        <td>1</td>
                        <td>Auction</td>
                        <td>Tender Cum Auction Notice<img src="../../../assets/images/new-96.png" width="50px" height="30px"></td>
                        <td>26-05-2022</td>
                        <td><a href="#" target="_blank">Tender_Cum_Auction_Notice_26_05_2022.jpeg</a></td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>2</td>
                        <td>Auction</td>
                        <td>Tender Cum Auction (Booklet)</td>
                        <td>02-01-2022</td>
                        <td><a href="admin/pdf attachment/Auction/Nivida_Nilami_Terms_KDA.pdf" target="_blank">Nivida_Nilami_Terms_KDA.pdf</a></td>
                     </tr>
                     <tr>
                     </tr>
                  </tbody>
               </table>
             </div>
         </div>
      </div>
   </div>
</section>



 <!-- slider OPEN -->
 <section class="bgwhite implink">
    <div class="container">
       
       <div class="brand-items text-center">
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link1.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link2.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link3.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link4.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link5.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/iconTwo/PMS.png" style="padding:5px;" /></a></div>
       </div>
    </div>
 </section>
 <!-- slider CLOSE -->
