
<section class="in-banner">
    <div class="inheading">
       <h2>About Khurja</h2>
       <div class='breed-crum-div'>
          <ol class='breadcrumb'>
             <li><a routerLink="/home">Home</a></li>
             <li> / </li>
             <li class='active'><a routerLink="about-kda">About Khurja Development Authority</a></li>
          </ol>
       </div>
    </div>
    <ul>
         <li class='item'><img src='../../../assets/images/PG_201901211325185867.jpg' alt='About Khurja' title='About Khurja'/></li>
    </ul>
</section>
 
 <section>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="welcome" id="main-content" tabindex="0">
                <h3 class="diff-heading">परिचय <span>खुर्जा शहर बुलन्दशहर</span></h3>
                <p>खुर्जा नगर गंगा-यमुना नदियों के दोआब में स्थित है तथा महाद्वीपीय जलवायु क्षेत्र में होने के कारण अन्य मैदानी क्षेत्रों की भांति यहाँ भी ग्रीष्म काल में तेज गर्मी तथा शरद ऋतु में शीतलहर के प्रकोप के फलस्वरूप तेज ठंड होती है। गर्मियों में तापमान 44 डिग्री संेटीग्रेड तक तथा सर्दियों में न्यूनतम 4.50 डिग्री सेंटीग्रेड तक पहुँच जाता है। यहाँ पर वर्षा अधिकांषतः जून से सितम्बर माह तक होती है। शीत काल में पष्चिमी चक्रवातों के कारण कुछ वर्षा होती है, जो कि कृषि के लिए लाभकारी होती है।</p>
                <h3 class="diff-heading">उद्भव <span>एवं</span> विकास</h3>
                <p><img src="../../../assets/images/img3.jpg" class="imgborder pull-right" alt="Khurja Development Authority, Uttar Pradesh" /></p>
                <p>यह नगर अपनी सम्पन्नता, वैभव, धार्मिक प्रवृत्ति तथा शिक्षा के प्रति अभिरूचि के लिए प्रसिद्ध हैं। इस नगर में अनेक उच्च कोटि के साहित्यकार, विचारक, लेखक, कवि, वादक, प्रशिक्षक व सेठ-साहूकार हुए, जिन्होनें देश-विदेश में इस नगर की ख्याति को बढाया। तहसील खुर्जा के नवाब छतारी श्री अहमद सईद खाँ ब्रिटिश शासन काल में प्रथम भारतीय राज्यपाल बने । वह अलीगढ़ विश्वविद्यालय के कुलपति भी रहे। तहसील के नवाब पहासू ने जयपुर का जौहरी बाजार निर्मित कराया।</p>
                <p>खुर्जा का पॉटरी उद्योग भारत में ही नहीं बल्कि विदेश में भी विख्यात है। द्वितीय विश्व युद्ध के दौरान यहाँ भारत सरकार द्वारा राजकीय पॉटरी प्रारम्भ की गयी। आज खुर्जा में बहुत बड़े पैमाने पर पॉटरी इकाईयों द्वारा विभिन्न प्रकार की वस्तुओं, जैसे बर्तन, चाय के सेट, फूलदान, टेबिल लैम्प, साइन्टिफिक गुड्स, इलैक्ट्रिक इंसुलेटर आदि, का निर्माण किया जा रहा है। खुर्जा शहर की ‘‘खुरचन’’ यहाँ की प्रसिद्ध मिठाई है। केन्द्रीय काँच एवं सिरेमिक अनुसंधान संस्थान खुर्जा में स्थित है।</p>
             </div>
          </div>
          <div class="col-md-12">
             <table class="table-bordered table-hover table-striped table" style="margin-top: 2em;">
                <thead>
                   <tr style="background-color: #fcb202">
                      <th>Sr.No</th>
                      <th>Officer Name</th>
                      <th>Designation</th>
                      <th>Mobile No</th>
                   </tr>
                </thead>
                <tbody id="contacts">
                   <tr class="warning">
                      <td>1</td>
                      <td>सुश्री निशा अनन्त, आई.ए.एस.</td>
                      <td>उपाध्यक्ष</td>
                      <td>8191970111</td>
                   </tr>
                   <tr>
                   </tr>
                   <tr class="warning">
                      <td>2</td>
                      <td>श्री संतोष कुमार</td>
                      <td>प्रभारी सचिव/वरिष्ठ वित्त एवं लेखाधिकारी &nbsp;</td>
                      <td>8191002938</td>
                   </tr>
                   <tr>
                   </tr>
                   <tr class="warning">
                      <td>3</td>
                      <td>श्री सिराज अहमद</td>
                      <td>अधीक्षण अभियन्ता (सिविल)</td>
                      <td>8449708910</td>
                   </tr>
                   <tr>
                   </tr>
                   <tr class="warning">
                      <td>4</td>
                      <td>श्री देवेन्द्र कुमार</td>
                      <td>सहायक अभियन्ता (विद्युत यांत्रिक)</td>
                      <td>8191978662</td>
                   </tr>
                   <tr>
                   </tr>
                   <tr class="warning">
                      <td>5</td>
                      <td>श्री पारस कुमार सिंह</td>
                      <td>सहायक अभियन्ता (सिविल)</td>
                      <td>0000000000</td>
                   </tr>
                   <tr>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </section>
       
 <section class="bgwhite implink">
   <div class="container">
      
      <div class="brand-items text-center">
         <div class="brand-item">
            <a rel="noopener" title="">
               <img src="../../../assets/images/auto-slider/imp-link1.png" />
            </a>
         </div>
         <div class="brand-item">
            <a rel="noopener" title="">
               <img src="../../../assets/images/auto-slider/imp-link2.png" />
            </a>
         </div>
         <div class="brand-item">
            <a rel="noopener" title="">
               <img src="../../../assets/images/auto-slider/imp-link3.png" />
            </a>
         </div>
         <div class="brand-item">
            <a rel="noopener" title="">
               <img src="../../../assets/images/auto-slider/imp-link4.png" />
            </a>
         </div>
         <div class="brand-item">
            <a rel="noopener" title="">
               <img src="../../../assets/images/auto-slider/imp-link5.png" />
            </a>
         </div>
         <div class="brand-item">
            <a rel="noopener" title="">
               <img src="../../../assets/images/iconTwo/PMS.png" style="padding:5px;" /></a></div>
      </div>
   </div>
 </section>


