
<section class="in-banner">
   <div class="inheading">
      <h2> Board Meetings</h2>
      <div class='breed-crum-div'>
         <ol class='breadcrumb'>
            <li><a href='index.html'>Home</a></li>
            <li> / </li>
            <li><a href='about-kda.html'>RTI</a></li>
            <li> / </li>
            <li class='active'><a href='state-govt-policy.html'>PIO/APIO LIST</a></li>
         </ol>
      </div>
   </div>
   <ul>
        <li class='item'><img src='../../../assets/images/PG_201901211325185867.jpg' alt='About Khurja ' title='About Khurja ' /></li>
   </ul>
</section>

<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="row" style="overflow-x: scroll; margin: 2em 0em ;">
               <h3 class="diff-heading">PIO / APIO LIST</h3>
                <!-- Single Latest Sermons -->
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                           <th colspan="2" style="padding: 1em 1px;">
                            सूचना का अधिकार अधिनियम- 2005 हेतु नामित अधिकारियों का विवरण
                           </th> 
                        </tr>
                        <tr>
                            <td>प्रथम अपीलीय अधिकारी का नाम, पदनाम व मोबाइल संख्या</td>
                            <td>जन सूचना अधिकारी का नाम, पदनाम व मोबाइल संख्या</td>
                        </tr>
                    </thead>
                </table>
             </div>
         </div>
      </div>
   </div>
</section>



 <!-- slider OPEN -->
 <section class="bgwhite implink">
    <div class="container">
       
       <div class="brand-items text-center">
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link1.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link2.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link3.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link4.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link5.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/iconTwo/PMS.png" style="padding:5px;" /></a></div>
       </div>
    </div>
 </section>
 <!-- slider CLOSE -->
