
<section class="in-banner">
   <div class="inheading">
      <h2>About Khurja</h2>
      <div class='breed-crum-div'>
         <ol class='breadcrumb'>
            <li><a routerLink="/home">Home</a></li>
            <li> / </li>
            <li><a >About Us</a></li>
            <li> / </li>
            <li class='active'><a>Bye Laws</a></li>
         </ol>
      </div>
   </div>
   <ul>
      <li class='item'><img src='../../../assets/images/PG_201901211325185867.jpg' alt='About Khurja ' title='About Khurja ' /></li>
   </ul>
</section>

<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="row" style="overflow-x: scroll; margin: 2em 0em ;">
                <h3 class="diff-heading">Bye Laws</h3>
                <table class="table-bordered table-hover table-striped table">
                    <thead>
                       <tr style="background-color: #fcb202">
                          <th>Sr.No</th>
                          <th>Document Type</th>
                          <th>Document Description</th>
                          <th>Upload Date</th>
                          <th>Documents Download</th>
                       </tr>
                    </thead>
                    <tbody id="contacts">
                       <tr class="warning">
                          <td>1</td>
                          <td>Bye Laws</td>
                          <td>Building Bye Laws 2008</td>
                          <td>12-01-2019</td>
                          <td><a href="admin/pdf attachment/bye laws/Building Byelaws_KDA - 2008.pdf" target="_blank">Building Byelaws_KDA - 2008.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                       <tr class="warning">
                          <td>2</td>
                          <td>Bye Laws</td>
                          <td>Amended Building Bye Laws 2010</td>
                          <td>12-01-2019</td>
                          <td><a href="admin/pdf attachment/bye laws/AmendedBb2010.pdf" target="_blank">AmendedBb2010.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                       <tr class="warning">
                          <td>3</td>
                          <td>Bye Laws</td>
                          <td>Building Bye Laws 2011</td>
                          <td>12-01-2019</td>
                          <td><a href="admin/pdf attachment/bye laws/BBL2011.pdf" target="_blank">BBL2011.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                       <tr class="warning">
                          <td>4</td>
                          <td>Bye Laws</td>
                          <td>Amended Building Bye Laws 2015</td>
                          <td>12-01-2019</td>
                          <td><a href="admin/pdf attachment/bye laws/ABBL2015.pdf" target="_blank">ABBL2015.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                       <tr class="warning">
                          <td>5</td>
                          <td>Bye Laws</td>
                          <td>Revised Building Bye Laws 2016</td>
                          <td>12-01-2019</td>
                          <td><a href="admin/pdf attachment/bye laws/RBBL2016.pdf" target="_blank">RBBL2016.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                       <tr class="warning">
                          <td>6</td>
                          <td>Bye Laws</td>
                          <td>Amended Building Bye Laws 2016</td>
                          <td>12-01-2019</td>
                          <td><a href="admin/pdf attachment/bye laws/ABBL2016.pdf" target="_blank">ABBL2016.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                       <tr class="warning">
                          <td>7</td>
                          <td>Bye Laws</td>
                          <td>Amended Building Bye Laws 2017</td>
                          <td>12-01-2019</td>
                          <td><a href="admin/pdf attachment/bye laws/ABBL2017.pdf" target="_blank">ABBL2017.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                       <tr class="warning">
                          <td>8</td>
                          <td>Bye Laws</td>
                          <td> Building Bye Laws 2018</td>
                          <td>12-01-2019</td>
                          <td><a href="admin/pdf attachment/bye laws/Building Byelaws_KDA - 2018.pdf" target="_blank">Building Byelaws_KDA - 2018.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                       <tr class="warning">
                          <td>9</td>
                          <td>Bye Laws</td>
                          <td>Compounding Bye Laws 2009</td>
                          <td>12-01-2019</td>
                          <td><a href="admin/pdf attachment/bye laws/CBL2009.pdf" target="_blank">CBL2009.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                       <tr class="warning">
                          <td>10</td>
                          <td>Bye Laws</td>
                          <td>Amended Compounding Bye Laws 2009</td>
                          <td>12-01-2019</td>
                          <td><a href="admin/pdf attachment/bye laws/ACBL2009.pdf" target="_blank">ACBL2009.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                       <tr class="warning">
                          <td>11</td>
                          <td>Bye Laws</td>
                          <td>Awas awam Paryawas Niti 2014</td>
                          <td>12-01-2019</td>
                          <td><a href="admin/pdf attachment/bye laws/AAPN2014.pdf" target="_blank">AAPN2014.pdf</a></td>
                       </tr>
                       <tr>
                       </tr>
                    </tbody>
                 </table>
             </div>
         </div>
      </div>
   </div>
</section>


 
 <!-- slider OPEN -->
 <section class="bgwhite implink">
    <div class="container">
       
       <div class="brand-items text-center">
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link1.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link2.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link3.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link4.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link5.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/iconTwo/PMS.png" style="padding:5px;" /></a></div>
       </div>
    </div>
 </section>
 <!-- slider CLOSE -->
