<section class="in-banner">
   <div class="inheading">
      <h2> Master Plan</h2>
      <div class='breed-crum-div'>
         <ol class='breadcrumb'>
            <li><a routerLink="/home">Home</a></li>
            <li> / </li>
            <li><a href='about-kda.html'>Master Plan</a></li>
            <li> / </li>
            <li class='active'><a href='state-govt-policy.html'>Khurja Master Plan</a></li>
         </ol>
      </div>
   </div>
   <ul>
      <li class='item'><img src='../../../assets/images/PG_201901211325185867.jpg' alt='About Khurja ' title='About Khurja ' /></li>
   </ul>
</section>

<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="row" >
               <div class="col-md-12">
                  <h3 class="diff-heading">Khurja Master Plan</h3>
                  <ol>
                     <li style="line-height: 30px;"><a href="#"> Khurja Masterplan 2031(Document)</a></li>
                     <li style="line-height: 30px;"><a href="#"> Khurja Masterplan 2031(Map-Color)</a></li>
                     <li style="line-height: 30px;"><a href="#"> Khurja Masterplan 2031(Map-B&W)</a></li>
                     <li style="line-height: 30px;"><a href="#"> Khurja Masterplan 2021 (Document)</a></li>
                     <li style="line-height: 30px;"><a href="#"> Khurja Masterplan 2021(Map)</a></li>
                     <li style="line-height: 30px;"><a href="#"> Khurja Small Map</a></li>
                     <li style="line-height: 30px;"><a href="#"> Bazaar Street</a></li>
                     <li style="line-height: 30px;"><a href="#"> Existing Map</a></li>
                     <li style="line-height: 30px;"><a href="#"> Proposed Map</a></li>
                  </ol>
               </div>
             </div>
         </div>
      </div>
   </div>
</section>


 <!-- slider OPEN -->
 <section class="bgwhite implink">
    <div class="container">
       
       <div class="brand-items text-center">
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link1.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link2.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link3.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link4.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link5.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/iconTwo/PMS.png" style="padding:5px;" /></a></div>
       </div>
    </div>
 </section>
 <!-- slider CLOSE -->
