<section class=" adminpanel">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">    
                <div class="master">
                    <img src="../../../assets/images/admin_panel.png" alt=""  >            
                </div>
            </div>
            <div class="col-md-6">
                <div class=" cardmain">
                    <form action="" #datalogin="ngForm">
                        <div class="text-center">
                            <h3><img src="../../../assets/images/icon4.png" alt="" >Admin Panel</h3>
                            <p class="blockquote-footer text-small">Lorem ipsum dolor sit amet consectetur.</p>
                            <hr>
                        </div>
                        <label for="">User Name </label>
                        <input type="text" class="form-control" placeholder="Enter User Details" name="userName" ngModel>
                        <br>
                        <label for="">Password </label>
                        <input type="password" class="form-control" placeholder="Enter User Details" name="userpassword" ngModel>
                        <br>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                           <input type="checkbox" class="custom-control-input" id="customControlInline">
                           <label class="custom-control-label fw-normal" for="customControlInline">&nbsp;&nbsp;  Remember my preference</label>
                        </div>
                        <br>
                        <button class="btn btn-primary" style="width:100%;" type="submit" (click)="dataLogin(datalogin)">Submit</button>
                    </form>
                </div>                
            </div>
        </div>
    </div>
</section>