<p>rti-acts works!</p>



 <!-- slider OPEN -->
 <section class="bgwhite implink">
    <div class="container">
       
       <div class="brand-items text-center">
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link1.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link2.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link3.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link4.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link5.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/iconTwo/PMS.png" style="padding:5px;" /></a></div>
       </div>
    </div>
 </section>
 <!-- slider CLOSE -->
