<section class="in-banner">
   <div class="inheading">
      <h2> Employee List</h2>
      <div class='breed-crum-div'>
         <ol class='breadcrumb'>
            <li><a href='index.html'>Home</a></li>
            <li> / </li>
            <li><a href='about-kda.html'>RTI</a></li>
            <li> / </li>
            <li class='active'><a href='state-govt-policy.html'>Employee List</a></li>
         </ol>
      </div>
   </div>
   <ul>
        <li class='item'><img src='../../../assets/images/PG_201901211325185867.jpg' alt='About Khurja ' title='About Khurja ' /></li>
   </ul>
</section>

<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="row" style="overflow-x: scroll; margin: 2em 0em ;">
               <h3 class="diff-heading">Employee List</h3>
                <!-- Single Latest Sermons -->
                
                <table class="table-bordered table-hover table-striped table">
                  <thead>
                     <tr style="background-color: #fcb202">
                        <th>Sr.No</th>
                        <th>Officer Name</th>
                        <th>Designation</th>
                        <th>Mobile No</th>
                     </tr>
                  </thead>
                  <tbody id="contacts">
                     <tr class="warning">
                        <td>1</td>
                        <td>सुश्री निशा अनन्त, आई.ए.एस.</td>
                        <td>उपाध्यक्ष</td>
                        <td>8191970111</td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>2</td>
                        <td>श्री संतोष कुमार</td>
                        <td>प्रभारी सचिव/वरिष्ठ वित्त एवं लेखाधिकारी &nbsp;</td>
                        <td>8191002938</td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>3</td>
                        <td>श्री सिराज अहमद</td>
                        <td>अधीक्षण अभियन्ता (सिविल)</td>
                        <td>8449708910</td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>4</td>
                        <td>श्री देवेन्द्र कुमार</td>
                        <td>सहायक अभियन्ता (विद्युत यांत्रिक)</td>
                        <td>8191978662</td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>5</td>
                        <td>श्री पारस कुमार सिंह</td>
                        <td>सहायक अभियन्ता (सिविल)</td>
                        <td>0000000000</td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>6</td>
                        <td>श्री विमल कुमार गुप्ता</td>
                        <td>अवर अभियन्ता (सिविल)</td>
                        <td>7290008921</td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>7</td>
                        <td>श्री सुशील कुमार शर्मा</td>
                        <td>अवर अभियन्ता (सिविल)</td>
                        <td>9711305241</td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>8</td>
                        <td>श्री संजय कुमार जैन</td>
                        <td>अवर अभियन्ता (सिविल)</td>
                        <td>8449708913</td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>9</td>
                        <td>श्री पंकज जैन</td>
                        <td>अवर अभियन्ता (सिविल)</td>
                        <td>9897546051</td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>10</td>
                        <td>मौहम्मद यासीन</td>
                        <td>अवर अभियन्ता (सिविल)</td>
                        <td>8191002935</td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>11</td>
                        <td>श्री ज्ञानेन्द्र सिंह</td>
                        <td>लिपिक</td>
                        <td>8191002924</td>
                     </tr>
                     <tr>
                     </tr>
                     <tr class="warning">
                        <td>12</td>
                        <td>श्री नौबत सिंह</td>
                        <td>ड्राईवर</td>
                        <td>8191002921</td>
                     </tr>
                     <tr>
                     </tr>
                  </tbody>
               </table>
             </div>
         </div>
      </div>
   </div>
</section>


 <!-- slider OPEN -->
 <section class="bgwhite implink">
    <div class="container">
       
       <div class="brand-items text-center">
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link1.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link2.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link3.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link4.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link5.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/iconTwo/PMS.png" style="padding:5px;" /></a></div>
       </div>
    </div>
 </section>
 <!-- slider CLOSE -->
s