
<section class="in-banner">
   <div class="inheading">
      <h2> Unauthorize Area/Colony</h2>
      <div class='breed-crum-div'>
         <ol class='breadcrumb'>
            <li><a routerLink="home">Home</a></li>
            <li> / </li>
            <li><a>Informations</a></li>
            <li> / </li>
            <li class='active'><a> Unauthorize Area/Colony</a></li>
         </ol>
      </div>
   </div>
   <ul>
      <li class='item'><img src='../../../assets/images/PG_201901211325185867.jpg' alt='About Khurja ' title='About Khurja ' /></li>
   </ul>
</section>


<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="row" style="overflow-x: scroll; margin: 2em 0em ;">
               <h3 class="diff-heading"> Unauthorize Area/Colony</h3>
                <!-- Single Latest Sermons -->
                <table class="table-bordered table-hover table-striped table">
                    <thead>
                        <tr style="background-color: #fcb202">
                            <th>loading</th>
                            <th>loading</th>
                            <th>loading</th>
                            <th>loading</th>
                        </tr>
                     </thead>
                     <tbody>
                        <p>Content not load form WAYBACK</p>
                     </tbody>
                </table>
             </div>
         </div>
      </div>
   </div>
</section>


<!-- slider OPEN -->
<section class="bgwhite implink">
    <div class="container">
       
       <div class="brand-items text-center">
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link1.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link2.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link3.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link4.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link5.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/iconTwo/PMS.png" style="padding:5px;" /></a></div>
       </div>
    </div>
 </section>
 <!-- slider CLOSE -->
