<section class="in-banner">
   <div class="inheading">
      <h2> Board Meetings</h2>
      <div class='breed-crum-div'>
         <ol class='breadcrumb'>
            <li><a routerLink="/home">Home</a></li>
            <li> / </li>
            <li><a >Board Meetings</a></li>
            <li> / </li>
            <li class='active'><a >Member Stracture</a></li>
         </ol>
      </div>
   </div>
   <ul>
        <li class='item'><img src='../../../assets/images/PG_201901211325185867.jpg' alt='About Khurja ' title='About Khurja ' /></li>
   </ul>
</section>

<section>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="row" style="overflow-x: scroll; margin: 2em 0em ;">
               <h3 class="diff-heading"> Member Stracture</h3>
                <!-- Single Latest Sermons -->
                
                <table class="table-bordered table-hover table-striped table">
                  <thead>
                     <tr style="background-color: #fcb202">
                        <th>Sr.No</th>
                        <th>Board</th>
                        <th>Designation</th>
                     </tr>
                  </thead>
                  <tbody>
                      </tbody><tbody>

               <tr>
               <td>1.</td>
               <td>आयुक्त, मेरठ मण्डल, मेरठ |</td>
               <td>अध्यक्ष</td>
               </tr>
               <tr>
               <td>2.</td>
               <td>एक अधिकारी जो राज्य सरकार द्वारा नियुक्त किया जायेगा |</td>
               <td>उपाध्यक्ष</td>
               </tr>
               <tr>
               <td>3.</td>
               <td>राज्य सरकार का प्रमुख सचिव अथवा सचिव, जो आवास एवं शहरी नियोजन<br> विभाग का प्रभारी हो या उनका प्रतिनिधि जो उप सचिव से अनिम्न श्रेणी का हो | </td>
               <td>पदेन सदस्य </td>
               </tr>
               <tr>
               <td>4.</td>
               <td>राज्य सरकार का सचिव जो वित्त विभाग का प्रभारी हो या उनका प्रतिनिधि जो<br> उप सचिव से अनिम्न श्रेणी का हो |</td>
               <td>पदेन सदस्य </td>
               </tr>
               <tr>
               <td>5.</td>
               <td>मुख्य नगर एवं ग्राम नियोजक, उ0 प्र0, लखनऊ अथवा उनका नाम निर्देशिती जो<br> वरिष्ठ नगर नियोजक से अनिम्न श्रेणी का हो |</td>
               <td>पदेन सदस्य </td>
               </tr>
               <tr>
               <td>6.</td>
               <td>प्रबन्ध निदेशक, जल निगम, उ0 प्र0, लखनऊ अथवा उनका नाम निर्देशिती जो<br> अधीक्षण अभियन्ता से अनिम्न श्रेणी का हो |</td>
               <td>पदेन सदस्य </td>
               </tr>
               <tr>
               <td>7.</td>
               <td>प्रमुख अभियंता, सार्वजनिक निर्माण विभाग, उ0 प्र0, लखनऊ अथवा उनका नाम<br> निर्देशिती जो अधीक्षण अभियन्ता से अनिम्न श्रेणी का हो |</td>
               <td>पदेन सदस्य </td>
               </tr>
               <tr>
               <td>8.</td>
               <td>जिला मजिस्ट्रेट, बुलन्दशहर |</td>
               <td>पदेन सदस्य </td>
               </tr>
               <tr>
               <td>9.</td>
               <td>प्रशासक, नगर पालिका परिषद  खुर्जा |</td>
               <td>पदेन सदस्य </td>
               </tr>
               <tr>
               <td>10.</td>
               <td>तीन से अनधिक ऐसे अन्य सदस्य जो राज्य सरकार द्वारा नाम निर्दिष्ट किये जाये |</td>
               <td>सदस्य </td>
               </tr>
               </tbody>    
              </table>
             </div>
         </div>
      </div>
   </div>
</section>

 <!-- slider OPEN -->
 <section class="bgwhite implink">
    <div class="container">
       
       <div class="brand-items text-center">
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link1.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link2.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link3.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link4.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/auto-slider/imp-link5.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../../assets/images/iconTwo/PMS.png" style="padding:5px;" /></a></div>
       </div>
    </div>
 </section>
 <!-- slider CLOSE -->
