<!-- Slider Main -- Open -->
<div class="container-fluid">
   <div class="row">
      <div class="col-md-12" style="padding: 0px;">
         <div class="item">
            <img src="../../assets/images/slider/slider_main1.jpeg" style="width: 100%;">
         </div>
      </div>
   </div>
</div>
<!-- Slider Main -- Open -->

<section class="sec-height">
    <div class="container">
       <div class="row">

          <!-- Top data marquee slider OPEN -->
          <app-topslider-one [fleshnews]="marqueedata"></app-topslider-one>
          <!-- Top data marquee slider CLOSE -->

          <!-- Top slider || Whats New - OPEN -->
          <app-fleshnews [topslider]="wahtsNews"></app-fleshnews>
          <!-- Top slider || Whats New - CLOSE -->
          <div class="col-md-6 col-sm-12 col-xs-12 min-padding" id="main-content">
             <div class="welcome">
                <h1>Welcome to the Official Web of<span> Khurja Development Authority</span></h1>
                <p>खुर्जा शहर बुलन्दशहर जनपद के अन्तर्गत आता है एवं खुर्जा तहसील पर न्यायालय भी है। खुर्जा नगर एक प्रमुख औद्योगिक एवं व्यापारिक केन्द्र के रूप में विकसित हुआ है। यह नगर राष्ट्रीय राजधानी क्षेत्र के अन्तर्गत उत्तर प्रदेश का उप केन्द्र है, जो कि दिल्ली से 90कि0मी0, मेरठ से 90कि0मी0 तथा बुलन्दशहर से 19कि0मी0 अलीगढ़ से 40 कि0मी0 की दूरी पर स्थित है। यह नगर सड़क मार्गों एवं रेल मार्गाें द्वारा प्रदेश के अन्य नगरों से भली भांति जुड़ा हुआ है।</p>
                <p>खुर्जा नगर गंगा-यमुना नदियों के दोआब में स्थित है तथा महाद्वीपीय जलवायु क्षेत्र में होने के कारण अन्य मैदानी क्षेत्रों की भांति यहाँ भी ग्रीष्म काल में तेज गर्मी तथा शरद ऋतु में शीतलहर के प्रकोप के फलस्वरूप तेज ठंड होती है। गर्मियों में तापमान 44 डिग्री संेटीग्रेड तक तथा सर्दियों में न्यूनतम 4.50 डिग्री सेंटीग्रेड तक पहुँच जाता है। यहाँ पर वर्षा अधिकांषतः जून से सितम्बर माह तक होती है। शीत काल में पष्चिमी चक्रवातों के कारण कुछ वर्षा होती है, जो कि कृषि के लिए लाभकारी होती है।</p>
                <p><a href="en/post/about-noida.html" class="readbg">Read More</a></p>
                <div class="clearfix"></div>
             </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12 min-padding padd-0 bg-white">
             <div class="min-row" tabindex="0">
               <app-userprofile [dataprofile] ='officerdata' ></app-userprofile>
                <div class="clearfix"></div>
             </div>
          </div>
       </div>
    </div>
</section>
<!-- Top slider data -->


 <section class="our-projects">
    <div class="container">
       <h3 class="our-projectsheading">Citizen&rsquo;s Interface</h3>
       <br />
       <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 status">
             <div class="">
                <h3 tabindex="0">Property Section</h3>
                <div class="back-white padd-around">
                   <ul>
                      <li class=""><a class="external" href="" target="_blank" title="Group Housing Builder Projects Information" rel="noopener"> E-Tender Notice </a></li>
                      <li class=""><a class="external" href="" target="_blank" title="Verify Challan" rel="noopener"> E-Tender Notice</a></li>
                      <li class=""><a class="external" target="_blank" href="" title="View/Apply Property related service online" rel="noopener"> Tender Cum Auction Notice</a></li>
                      <li class=""><a class="external" target="_blank" href="" title="Department login Property" rel="noopener"> Tender Notice</a></li>
                      <li class=""><a class="external" href="" title="List of Properties"> Tender Cum Auction (Booklet)</a></li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12 useful-links">
             <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12"><a href="https://upobpas.in/BPAMSClient/login.aspx" target="_blank" class="highlight icon-holder hvr-ripple-out external" target="_blank" rel="noopener" style="background-color:#48dbfb !important"> <img src="../../assets/images/mob.png" /> <span class="line-height">Building Plan Approval</span> </a></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><a href="http://pms.onlinebda.com/" target="_blank" class="icon-holder hvr-ripple-out external" target="_blank" rel="noopener" style="background-color:#576574 !important"> <img src="../../assets/images/mob.png" /> <span class="line-height"> Property Management System</span> </a></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><a href="https://www.up-rera.in/" target="_blank" class="icon-holder hvr-ripple-out external" target="_blank" rel="noopener" style="background-color:#54a0ff !important"> <img src="../../assets/images/mob.png" /> <span class="line-height"> RERA Plan</span> </a></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><a href="http://bdabulandshahar.com/awas.up.nic.in" target="_blank" class="icon-holder hvr-ripple-out external" style="background-color:#4a69bd !important"><img src="../../assets/images/mob.png" /> <span> Duplicate Order Request</span> </a></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><a href="https://janhit.upda.in/" target="_blank" class="icon-holder hvr-ripple-out external" rel="noopener" style="background-color:#78e08f !important"> <img src="../../assets/images/mob.png" /> <span> Refund Management System </span> </a></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><a href="https://janhit.upda.in/" target="_blank" class="icon-holder hvr-ripple-out external" style="background-color:#0a3d62 !important"> <img src="../../assets/images/mob.png" /> <span>Application for Free hold</span> </a></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><a href="https://janhit.upda.in/" target="_blank" class="icon-holder hvr-ripple-out external" rel="noopener" style="background-color:#BDC581 !important"> <img src="../../assets/images/mob.png" /> <span>Registration for Allotment</span> </a></div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="our-projects newprocheck">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h3 class="our-projectsheading">
                Current status of Important Projects
             </h3>
             <div class="row">
                <div class="col-md-4 ">
                   <div class="card your-element" style="padding:20px">
                      <img src="../../assets/images/iconTwo/ByeLawsPolicy.png" alt="" class="img-responsive border-1 bg-dark">
                      <h4>Bye Laws / Policy</h4>
                      <a routerLink="/bye-lows">View All</a>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="card your-element" style="padding:20px">
                      <img src="../../assets/images/iconTwo/MasterPlan.png" alt="" class="img-responsive border-1 bg-dark">
                      <h4>Khurja Master Plan</h4>
                      <a routerLink="/KhurjaMaster">View Plan</a>
                   </div>
                </div>
                <div class="col-md-4 ">
                   <div class="card your-element" style="padding:20px">
                      <img src="../../assets/images/iconTwo/Property-Management-System.png" alt="" class="img-responsive border-1 bg-dark">
                      <h4>Property Management System</h4>
                      <a href="https://pms.onlinekda.com/" target="_blank">Go To Website</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="bgwhite implink">
    <div class="container">
       
       <div class="brand-items text-center">
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../assets/images/auto-slider/imp-link1.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../assets/images/auto-slider/imp-link2.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../assets/images/auto-slider/imp-link3.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../assets/images/auto-slider/imp-link4.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../assets/images/auto-slider/imp-link5.png" />
             </a>
          </div>
          <div class="brand-item">
             <a rel="noopener" title="">
                <img src="../../assets/images/iconTwo/PMS.png" style="padding:5px;" /></a></div>
       </div>
    </div>
 </section>
